<!DOCTYPE html>
<head>
    <% include ../main/global_css_sheets.ejs %>
</head>

<body>
<div class="container">
    <% include ../main/navbar.ejs %>
    <div id="content">
        <div class="row">

            <div class="registrate-phone-block col-md-offset-4 col-md-4">

                <div class="row center-block">
                    <div class="col-md-12">
                        <div class="phone-game-id text-center">Registrate your Phone</div>
                    </div>
                </div>
                <div class="row center-block">
                    <div class="col-md-12">
                        <div class="well text-center game-id-field" id="game-id-field"
                             style="color: #ffd32d;background-color: #2f241e">12345
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 text-center">
                        <h4><span id="start-random-game"
                                  class="glyphicon glyphicon-repeat glyphicon-refresh-animate text-center"
                                  style="color: red"></span></h4>
                    </div>
                </div>
            </div>
        </div>
        <script>
            IO.setGameIdTag();
        </script>
    </div>
    <% include ../main/footer.ejs %>
    <% include ../main/global_js_scripts.ejs %>
    <div id="content-scripts">
        <script src="../js/custom/canvas_functions.js"></script>
    </div>
</div>
</body>