<!DOCTYPE html>
<head>
    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            window.location = "/controller";
        }
    </script>
    <% include ../main/global_css_sheets.ejs %>
</head>

<body>
<div class="container">
    <% include ../main/navbar.ejs %>
    <div id="content">
        <div class="row center-block">
            <a class="create-private">
                <div class="col-md-4 option" id="searchGame">
                    <div class="row">
                        <h1><img src="../../img/new91.svg" style="width:1.8em;fill:#009a80!important;stroke-width:.5;"/></h1>
                    </div>
                    <div class="row">
                        <span id="randomText">CREATE</span>
                    </div>
                </div>
            </a>

            <a class="join-private">
                <div class="col-md-4 option pull-right" id="createGame">
                    <div class="row">
                        <h1><img src="../../img/open203.svg" style="width:1.8em;fill:#009a80!important;stroke-width:.5;"/> </h1>
                    </div>
                    <div class="row">
                        <span id="privateText">JOIN</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% include ../main/footer.ejs %>
    <% include ../main/global_js_scripts.ejs %>
    <div id="content-scripts">

    </div>
</div>
</body>
