<!DOCTYPE html>
<head>
    <% include ../main/global_css_sheets.ejs %>
</head>

<body>
<div class="container">
    <% include ../main/navbar.ejs %>
    <div id="content">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="share-id-container" style="display: block;">
                    <div class="row">
                        <div class="col-md-12 player text-center" id="gameId">
                            <span id="gameIdValue">GameID teilen: 12345</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 player text-center name" id="player-one">
                            <span id="name0">Spieler1</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 player text-center status" id="player-one">
                            <span class="pull-left">MOBILE: </span>
                            <span id="device0" class="glyphicon glyphicon-phone inactive-icon pull-left"></span>
                            <span id="isReady0" class="glyphicon glyphicon-remove inactive-icon pull-right"></span>
                            <span class="pull-right">READY: </span>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 player text-center name" id="player-two">
                            <span id="name1">Spieler2</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 player text-center status" id="player-two">
                            <span class="pull-left">MOBILE: </span>
                            <span id="device1" class="glyphicon glyphicon-phone inactive-icon pull-left"></span>
                            <span id="isReady1" class="glyphicon glyphicon-remove inactive-icon pull-right"></span>
                            <span class="pull-right">READY: </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="button" class="btn btn-danger" id="ready" value="I'M READY!">
                    </div>
                </div>
            </div>
            <script>
                document.getElementById('gameIdValue').innerHTML = IO.user.getGameId();
                IO.socket.emit('getAllUsers', {gameId: IO.user.getGameId()});
            </script>
        </div>
    </div>
    <% include ../main/footer.ejs %>
    <% include ../main/global_js_scripts.ejs %>
    <div id="content-scripts">
    </div>
</div>
</body>
