<html>
<script>
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        window.location = "/controller";
    }
</script>
<head>
    <% include main/global_css_sheets.ejs %>
</head>
<body>
<div class="container">
    <% include main/navbar.ejs %>
    <div id="content">
        <div class="row">
            <div class="col-md-3 player text-center" id="player-one">
                <h1 id="score-add0" style="display: none;"></h1>
                <span id="name0"></span>
                <span id="score0">0</span>
            </div>
            <div class="col-md-6 playground-container" id="playground-container">
                <canvas id="playground"></canvas>
            </div>
            <div class="col-md-3 player text-center" id="player-two">
                <span id="name1"></span>
                <span id="score1">0</span>

                <h1 id="score-add1" style="display: none;"></h1>
            </div>
        </div>
        <audio id="nyan" loop="loop">
            <source src="https://ia700608.us.archive.org/26/items/nyannyannyan/NyanCatoriginal.mp3" type="audio/mp3">
        </audio>
        <img id="nyanImg" class="img-cat" src="../img/dmmwplay.jpg" alt="nyan" style="display: none">
    </div>
    <% include main/footer.ejs %>
    <% include main/global_js_scripts.ejs %>
    <div id="content-scripts">
        <script>
            IO.socket.emit('getAllUsers', {
                gameId: IO.user.getGameId(),
                destination: 'setAllUserGamingscreen'
            });
        </script>
        <script src="../js/game/game_info.js"></script>
        <script src="../js/communication/socket_handler.js"></script>
        <script src="../js/game/drawing/draw_functions.js"></script>
        <script src="../js/custom/canvas_functions.js"></script>
    </div>
</div>
</body>
</html>