<!DOCTYPE html>
<head>
    <% include main/global_css_sheets.ejs %>
    <!--HIER EIGENE(auf diese spezielle Seite bezogen) STYLESHEETS-->
</head>

<body>
    <div class="container">
        <% include main/navbar.ejs %>
        <div class="row">
        </div>
        <div class="row">
            <button class="btn btn-info" id="start">PLAY</button>
            <button class="btn btn-danger" id="fullscreen">FULLSCREEN</button>
            <canvas id="playground" height="650" width="1400"></canvas>
            <audio id="nyan" loop="loop">
                <source src="https://ia700608.us.archive.org/26/items/nyannyannyan/NyanCatoriginal.mp3" type="audio/mp3">
            </audio>
            <div class="col-lg-4 player" id="player-one">
                <span id="name">JOENHARD</span>
                <span id="score">0</span>
            </div>
        </div>


        <% include main/footer.ejs %>
    </div>

    <% include main/global_js_scripts.ejs %>
    <script src="/js/canvas.js"></script>
    <script src="/js/viewObjects/ball.js"></script>
    <script src="/js/viewObjects/paddle.js"></script>
    <script src="/js/viewObjects/brick.js"></script>
    <script src="/js/viewObjects/playing_field.js"></script>
    <script src="/js/viewObjects/draw_functions.js"></script>
</body>

