<!DOCTYPE html>
<head>
    <% include main/global_css_sheets.ejs %>
    <script src="/js/canvas.js"></script>

    <!--HIER EIGENE(auf diese spezielle Seite bezogen) STYLESHEETS-->
</head>

<body>
    <div class="container">
        <% include main/navbar.ejs %>
        <div class="row">
            <div id="display"><span id="score">0</span></div>
            <canvas id="playground" height="650" width="1400"></canvas>
            <div id="button"><span id="start">START</span></div>
        </div>

        <% include main/footer.ejs %>
    </div>

    <% include main/global_js_scripts.ejs %>
    <!--HIER EIGENE(auf diese spezielle Seite bezogen) JS-Scripts-->
</body>

