<!DOCTYPE html>
<head>
    <% include main/global_css_sheets.ejs %>
    <!--HIER EIGENE(auf diese spezielle Seite bezogen) STYLESHEETS-->
</head>

<body>
    <div class="container">
        <% include main/navbar.ejs %>

        <div style="background-color: #204d74; width:100%;height: 100%;">
            DAS IST DER CONTROLLER
        </div>

        <% include main/footer.ejs %>
    </div>

    <% include main/global_js_scripts.ejs %>
    <script src="/js/controller.js"/>

</body>
