<!DOCTYPE html>
<head>
    <% include main/global_css_sheets.ejs %>
    <!--HIER EIGENE(auf diese spezielle Seite bezogen) STYLESHEETS-->
</head>

<body>
<div class="container">
    <% include main/navbar.ejs %>
    <div id="content">
        <div class="row center-block">
            <a class="random-game">
                <div class="col-md-4 option" id="searchGame">
                    <div class="row">
                        <h1><span class="glyphicon glyphicon-random"/></h1>
                    </div>
                    <div class="row">
                        <span id="randomText">RANDOM GAME</span>
                    </div>
                </div>
            </a>

            <a href="/">
                <div class="col-md-4 option pull-right" id="createGame">
                    <div class="row">
                        <h1><span class="glyphicon glyphicon-lock"/></h1>
                    </div>
                    <div class="row">
                        <span id="privateText">PRIVATE GAME</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <% include main/footer.ejs %>
    <% include main/global_js_scripts.ejs %>
    <div id="content-scripts">
        <script src="/js/home_functions.js"></script>
    </div>
</div>
</body>
