<!DOCTYPE html>
<head>
    <% include main/global_css_sheets.ejs %>
    <!--HIER EIGENE(auf diese spezielle Seite bezogen) STYLESHEETS-->
</head>

<body>
    <div class="container">
        <% include main/navbar.ejs %>

        <!--HIER SEITENINHALT-->
        <div class="row center-block">
            <div class="col-md-4 option" id="searchGame">
                <a href="/game">
                    <h1><span class="glyphicon glyphicon-search"/></h1>
                </a>
            </div>
            <div class="col-md-4 option pull-right" id="createGame">
                <a href="/">
                    <h1><span class="glyphicon glyphicon-plus"/></h1>
                </a>
            </div>
        </div>

        <% include main/footer.ejs %>
    </div>

    <!--HIER EIGENE(auf diese spezielle Seite bezogen) JS-Scripts-->
    <% include main/global_js_scripts.ejs %>
</body>
