<!DOCTYPE html>
<head>
    <script>
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) == false) {
            window.location = "/";
        }
    </script>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height">
    <% include ../main/global_css_sheets.ejs %>
</head>

<body style="height: 100%;">
<div id="enter-room-container" class="container">
    <% include ../main/navbar.ejs %>
    <div id="content">
        <div class="row center-block">
            <form class="form-horizontal">
                <div class="form-group form-group-lg">
                    <div class="col-sm-12">
                        <input name="gameid-mobile" class="form-control" type="text" id="gameid-mobile"
                               placeholder="Hier Game ID eingeben" style="margin-top:20%;">
                    </div>
                </div>
                <input type="button" id="mobile-id-enter" class="btn btn-danger" value="Register" align="center">
            </form>
        </div>
    </div>
    <% include ../main/footer.ejs %>
</div>

<div id="back-to-life-container" class="container" style="height: 60%;display:none;">
    <div id="content"   style="margin: 40% 0 0 0">
        <div class="row center-block">
            <div class="row center-block">
                <div class="col-md-12">
                    <div class="phone-game-id text-center" style="color:#ffffff;">schnell klick mich!!</div>
                </div>
            </div>
            <form class="form-horizontal" align = "center" style="margin-top:5%;">
                <input type="button" id="back-to-life" class="btn btn-danger" value="weiter spielen!" >
            </form>
        </div>
    </div>
</div>
<% include ../main/global_js_scripts.ejs %>

<canvas id="con_canvas" style="display: none;"/>

<div id="content-scripts">
    <script src="../../js/game/models/Client_User.js"></script>
    <script src="../../js/custom/pregame_functions.js"></script>
    <script src="../../js/game/controller/controller.js"></script>
    <script src="../../js/communication/client_communication.js"></script>
</div>

</body>
