body {
  padding: 50px;
  font: 14px Helvetica;
  background-color: #c9d3df;
}

#push{
  height: 20px;
}

#footer{
  color: #22b1e3;
  height: 60px;
  background-color: #333;
  text-align: center;
}

#playground{
  /*min-width: 400px;
  min-height: 600px;*/
  width: 100%;
  height: 100%;
  background-color: #bfbfbf;
  border-radius: 5px;
}

:-moz-full-screen canvas{
  width: 100%;
  height: 100%;
}

:-webkit-full-screen canvas{
  width: 100%;
  height: 100%;
}

.option{
  border: solid;
  border-radius: 5px;
  text-align: center;
  padding: 5%;
  margin: 5%;
}

#searchGame{
  background-color: #e9573f;
  color:#ffffff;
}

#createGame{
  background-color: #00d6b2;
  color:#ffffff;
}

#score{
  color:#ffffff;
  font-size: 50px;
  font-style: inherit;
  text-align: center;
}

#dmmw-headline{
  text-align: center;
  background-color: #222222;
  color: orange;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}