@font-face {
  font-family: Silkscreen; src: url('../../fonts/Silkscreen/slkscr.ttf');
}

body {
  padding: 50px;
  font-family: 'Silkscreen', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
  background-color: #64696f;
}

#push{
  height: 20px;
}

#footer{
  height: 60px;
  text-align: center;
}

#playground{
  /*min-width: 400px;
  min-height: 600px;*/
  width: 100%;
  height: 100%;
  background-color: #bfbfbf;
  border: solid 10px;
  border-color: #ffd32d;
}

:-moz-full-screen canvas{
  width: 100%;
  height: 100%;
}

:-webkit-full-screen canvas{
  width: 100%;
  height: 100%;
}

.option{
  text-align: center;
  padding: 5%;
  margin: 5%;
  background-color: #ffffff;
  border: solid 10px;
}

#searchGame{
  border-color: #102cd6;
}

#createGame{
  border-color: #e90100;
}

.player{
  color:#ffffff;
  font-size: 2.5em;
}

#player-one{
  background-color: #009a80;
}

#dmmw-headline, #dmmw-footer{
  color: #ffd32d;
  background-color: #2f241e;
  text-align: center;
}

.glyphicon{
  font-size: 1.5em;
}

.glyphicon-search{
  color: #102cd6;
}

.glyphicon-plus{
  color: #e90100;
}

.btn{
  border-radius: 0px;
  border-color: transparent;
  margin: 0 1% 1% 0;
  color: #ffffff;
  font-size: 1.5em;
}

.btn-info{
  background-color: #102cd6;
}

.btn-danger {
  background-color: #e90100;
}